<ion-card>

  <ion-card-header>
    <ion-card-title *ngIf="currentWeather['moon']"><i class="{{currentWeather.moon.icon}}"></i> {{currentWeather.moon.phase}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>

<ion-card>

  <ion-card-header>
    <ion-card-title><i class="{{currentWeather.icon}}"></i> {{currentWeather.temperature}} &deg;F</ion-card-title>
  </ion-card-header>
  <ion-card-content>
<ion-list lines="none">
  <ion-item *ngFor="let prop of props">
    {{prop}} {{currentWeather[prop]}}
  </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>