<div *ngIf="currentWeather['moon']">
  <ion-card>
    <ion-card-header>
      <ion-card-title><i class="{{moonPhase.icon}}"></i> {{moonPhase.phase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La próxima nueva luna es: {{moonPhase.newMoon}}</p>
      <p>La próxima luna llena es: {{moonPhase.fullMoon}}</p>
    </ion-card-content>
  </ion-card>
</div>

<ion-card>
  <ion-card-header>
    <div id="weather-header">
      <i class="{{currentWeather.icon}}"></i>
      <ion-card-title>{{currentWeather.temperature}} &deg;F</ion-card-title>
    </div>
    <h6>San Juan, Puerto Rico</h6>
  </ion-card-header>
  <ion-card-content>
    <p><span>Pronóstico de clima es: </span>{{currentWeather.summary}}</p>
  </ion-card-content>
</ion-card>