<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Main
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <app-calendar (month)="getCurrentMonth($event)"></app-calendar>
  <!-- <app-zodiac [date]="date" (zodiacName)="getZodiacName($event)"></app-zodiac>
  <app-tips [zodiac]="zodiac" [phase]="phase"></app-tips>
  <app-weather (phase)="getPhase($event)"></app-weather> -->
  <crops-abundance [date]="date"></crops-abundance>
  <crops-noproduction [date]="date"></crops-noproduction>
  <crops-recommended [date]="date"></crops-recommended>
</ion-content>